@model CategoryCreateVM

<div class="container">
    <div class="card">
        <div class="card-header">
            <strong>Create</strong>
        </div>
        <div class="card-body card-block">
            <form asp-action="Create" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <input asp-for="CategoryName" class="form-control mt-3" placeholder="Name">
                    <span class="text-danger" asp-validation-for="CategoryName"></span>

                    <input asp-for="CategoryImage" class="form-control mt-3">
                    <span class="text-danger" asp-validation-for="CategoryImage"></span>
                </div>
                <button type="submit" class="btn btn-primary btn-sm">
                    <i class="fa fa-dot-circle-o"></i> Submit
                </button>
                <a type="reset" asp-action="Index" class="btn btn-danger btn-sm">
                    <i class="fa fa-ban"></i> Reset
                </a>
            </form>
        </div>
    </div>
</div>


