@model SliderEditVM

<div class="container">
    <div class="card">
        <div class="card-header">
            <strong>Create</strong>
        </div>
        <div class="card-body card-block">
            <form asp-action="Edit" method="post" enctype="multipart/form-data">
                <div class="form-group">

                <div>
                    <img src="~/assets/images/@Model.ExistImage" alt="Alternate Text" style="border: 3px double black"/>
                </div> 

                    <input asp-for="Title" class="form-control mt-3" placeholder="Enter slider Title">
                    <span class="text-danger" asp-validation-for="Title"></span>

                    <input asp-for="Description" class="form-control mt-3" placeholder="Enter slider description">
                    <span class="text-danger" asp-validation-for="Description"></span>

                    <input asp-for="Name" class="form-control mt-3" placeholder="Enter slider name">
                    <span class="text-danger" asp-validation-for="Name"></span>

                    <input asp-for="NewImage" class="form-control mt-3">
                    <span class="text-danger" asp-validation-for="NewImage"></span>
                </div>
                <button type="submit" class="btn btn-primary btn-sm">
                    <i class="fa fa-dot-circle-o"></i> Submit
                </button>
                <a type="reset" asp-action="Index" class="btn btn-danger btn-sm">
                    <i class="fa fa-ban"></i> Reset
                </a>
            </form>
        </div>
    </div>
</div>

